<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% include "./components/navbar.html" %}
        {% include "./components/messages.html" %}

    <form action="/CommentAdded" method="POST">
        <p>post_id:{{PostData.id}}</p>
        <p>user_id:{{user_id}}</p>
        <p>score:0</p>
        <p>content_license:{{PostData.content_license}}</p>
        <p>user_display_name:No need to show</p>
        
        <input type="hidden" name="PostId" id="PostId" value={{PostData.id}}>
        <input type="hidden" name="user_id" id="user_id" value={{user_id}}>
        <input type="hidden" name="ThePostContent_license" id="ThePostContent_licenseer_id" value="{{PostData.Content_license}}">
        <input type="hidden" name="ThePostcomment_count" id="ThePostcomment_count" value={{PostData.comment_count}}>

        <input type='text' id='Bodytext' name='Bodytext'>text</input>
        <input type='submit'>Add Comment</input>
        </form>
    </body>
</html>