<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/@yaireo/tagify@4.3.0/dist/tagify.min.js"></script>


    <style>
        input[type="text"] {
            white-space: pre;
        }
    </style>
</head>

<body class="bg-slate-300">
    {% include "./components/navbar.html" %}
    {% include "./components/messages.html" %}


    <form action="/PostCreated" method="POST"></form>

    <input type="hidden" name="ownerUserId" id="ownerUserId" value={{owner_user_id}}>
    <input type="hidden" name="ownerDisplayName" id="ownerDisplayName" value={{owner_display_name}}>
    <input type="hidden" name="createPostTags" id="createPostTags">
    <input type="hidden" id="createPostBody" id='createPostBody'>

    <div class="flex flex-col m-auto mt-5 mx-2">
        <div>
            <label for="">Title</label>
            <input type='text' id='createPostTitle' name='createPostTitle' class="border-2" placeholder="Title">
        </div>
        <div>
            <label for=""> Post Tags</label>
            <input type="text" placeholder="Tags" id="autosearch2" required class="border-2">
        </div>
        <div class="flex w-[90vw] sm:flex-row flex-col m-auto">
            <!-- <label for=""></label> -->
            <textarea type='text' id="markdown" onkeyup="markdownToHtml()" placeholder="write you answer in markdown" rows="5"
                cols="40" class="w-full sm:w-1/2 m-1"></textarea>
            <div id="markup" class="w-full sm:w-1/2 bg-white m-1 min-h-[5rem]"></div>
        </div>
        <input type='submit' value="Submit" class="hover:cursor-pointer p-1 bg-slate-400 rounded w-fit">
        
    </div>
    
    

    
    </form>
<input name="tags" placeholder="Type and hit enter" class="tagify">
     
    <script>
        markup = document.getElementById('markup')
        markdown = document.getElementById('markdown')
        createPostBody = document.getElementById('createPostBody')
        function markdownToHtml() {
            markup.innerHTML = marked.parse(markdown.value)
            createPostBody.value = marked.parse(markdown.value)
        }


        // data={{avail_tags|safe}};
        // $("#autosearch2").autocomplete({
        //     minLength: 2,
        //     source: function (request, response) {
        //         var results = $.ui.autocomplete.filter(data, request.term);
        //         response(results.slice(0, 10));
        //     }
        // });
    var input = document.querySelector('input[name=tags]');

        var tagify = new Tagify(input, {
            whitelist: ["Apple", "Banana", "Cherry", "Date", "Elderberry"]
        });

    </script>
</body>

</html>