<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Include Tagify plugin -->
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.2.0/dist/tagify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">


    <style>
        input[type="text"] {
            white-space: pre;
        }
    </style>
</head>

<body class="bg-[#f2f2f2]">
    {% include "./components/navbar2.html" %}
    {% include "./components/messages.html" %}


    <form action="/PostCreated" method="POST">

    <input type="hidden" id="autosearch_hidden_tags" name="createPostTags" required>
    <input type="hidden" id="createPostBody" name='createPostBody' required>

    <div class="flex flex-col m-auto mx-5 mt-5 mx-2 gap-y-10">
        <div class="flex flex-col">
            <label for="" class="text-2xl font-medium">Title</label>
            <input type='text' id='createPostTitle' name='createPostTitle' class="border-2 text-md p-[2px] rounded-none" placeholder="Title" required>
        </div>
        
        <div class="flex flex-col">
            <label for="" class="text-2xl font-medium"> Post Tags</label>
            <input type="text" id="autosearch_tags" required class="border-2 bg-white">
        </div>

        <div class="flex w-full sm:flex-row flex-col m-auto">
                        <!-- <label for="" class="text-2xl font-bold">Body</label> -->

            <textarea type='text' id="markdown" onkeyup="markdownToHtml()" placeholder="describe you question in markdown"
                rows="5" cols="40" class="w-full sm:w-1/2 m-1"></textarea>
            <div id="markup" class="w-full sm:w-1/2 bg-white m-1 min-h-[5rem]"></div>
        </div>

        <input type='submit' value="Submit" class="bg-[#595959] text-white p-[2px] px-2 font-medium mt-2 text-lg hover:cursor-pointer">

    </div>

    </form>

    <script>
        const markup = document.getElementById('markup')
        const markdown = document.getElementById('markdown')
        const createPostBody = document.getElementById('createPostBody')
        function markdownToHtml() {
            markup.innerHTML = marked.parse(markdown.value)
            createPostBody.value = marked.parse(markdown.value)
        }


        const tag = document.getElementById("autosearch_tags");
        var hidden_tag = document.getElementById("autosearch_hidden_tags");


        const tagify = new Tagify(tag, {
            whitelist: [],
            enforceWhitelist: true,
            maxTags: 5,
            autocomplete: {
                enabled: true,
                minLength: 1,
                maxItems: 10,
            },
            callbacks: {
                add: function (e) {

                    var tags = tagify.value.map(tag => tag.value).join('><');
                    hidden_tag.value = '<'+tags+'>';
                    console.log(hidden_tag.value)

                },
                remove: function (e) {
                    // console.log("Tag removed :", e.detail.data.value);
                    var tags = tagify.value.map(tag => tag.value).join(' ');
                    hidden_tag.value = tags;

                }


            }


        });

        var data = {% autoescape on %}
        {{ avail_tags | safe }}
        {% endautoescape %}
        tagify.settings.whitelist = data;

      

    </script>
</body>

</html>