<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <style>
            input[type="text"] {
                white-space: pre;
            }
        </style>
        </head>
        
        <body>
            {% include "./components/navbar.html" %}
            {% include "./components/messages.html" %}
            <form action="/PostCreated" method="POST">
        <p>owner_user_id:{{owner_user_id}}</p>
        <p>last_editor_user_id:NULL</p>
        <p>post_type_id:1</p>
        <p>accepted_answer_id:NULL</p>
        <p>score:NULL</p>
        <p>parent_id:NULL</p>
        <p>view_count:0</p>
        <p>answer_count:0</p>
        <p>comment_count:0</p>
        <p> owner_display_name:{{owner_display_name}}</p>
        <p>last_editor_display_name:NULL</p>
        <input type="hidden"  name="ownerUserId" id="ownerUserId" value={{owner_user_id}}>
        <input type="hidden" name="ownerDisplayName" id="ownerDisplayName" value={{owner_display_name}}>
        

        <input type='text' id='createPostTitle' name='createPostTitle'>title</input>
        <input type='text' id='createPostTags' name='createPostTags'>tags</input>
        <p>content_license:</p>
        <textarea type='text' id="markdown" onkeyup="markdownToHtml()" placeholder="write you query in markdown" ></textarea>
        <input type="hidden" id="createPostBody" id='createPostBody'>
        <div id="markup"></div>
        <p>favorite_count=models.IntegerField(("favorite_count"),null=True)</p>
        <p>creation_date=models.DateTimeField(("creation_date"),auto_now_add=True,null=False)</p>
        <p>community_owned_date=models.DateTimeField(("community_owned_date"),auto_now_add=True, null=True)</p>
        <p>closed_date=models.DateTimeField(("closed_date"),auto_now_add=True, null=True)</p>
        <p>last_edit_date=models.DateTimeField(("last_edit_date"),auto_now_add=True, null=True)</p>
        <p>last_activity_date=models.DateTimeField(("last_activity_date"),auto_now_add=True)</p>
        <input type='submit'>Create post</input>
        </form>

        <script>
            marpup=document.getElementById('markup')
            markdown= document.getElementById('markdown')
            createPostBody = document.getElementById('createPostBody')
            function markdownToHtml(){
                console.log(markdown.value)
                console.log(marked.parse(markdown.value))
                markup.innerHTML = marked.parse(markdown.value)
                createPostBody.value= marked.parse(markdown.value)
            }
        </script>
    </body>
</html>