<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Document</title>
</head>
<body class="bg-slate-300">
  <div class="text-4xl p-5">
    {{ques.0.title}}
  </div>
  <div class="p-5">
    {{ques.0.body|safe}}
  </div>
  <div>
    <div class="text-center text-5xl my-5">Answers</div>
    {%for i in answersList%}
    <div class="text-lg bg-slate-400 p-5 m-5 rounded-md">
      <!-- <div>
        {{i.owner_display_name}}
      </div> -->
      <div >
        {{i.body|safe}}
      </div>
      <div>
        <!-- {{i.}} -->
      </div>
      <div>
        <div class="m-5 text-3xl">Comments</div>
        {%for j in i.commentsList%}
        <div class="m-3 text-base">
          {{j.text|safe}}
        </div>
        {%endfor%}
      </div>
    </div>
    {%endfor%}
  </div>
 
  <form action="/PostAnswer" method="POST">
    <input type='submit'>AnswerPost</input>
  </form>


</body>
</html>