<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/turndown/dist/turndown.js"></script>


  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include Tagify plugin -->
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.2.0/dist/tagify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">


  <style>
    input[type="text"] {
      white-space: pre;
    }
  </style>

</head>

<body class="bg-slate-300">
  {% include "./components/navbar2.html" %}
  {% include "./components/messages.html" %}


  <form action="/postEdited" method="POST">
    {%if post.post_type_id == 1%}
    <input type="hidden" id="autosearch_hidden_tags" name="createPostTags" value="{{post.tags}}" required>
    {%endif%}
    
    <input type="hidden" id="createPostBody" name='createPostBody' required>
    
    <input type="hidden" value={{post.id}} name="postId">


    <div class="flex flex-col m-auto mt-5 mx-2">
      {%if post.post_type_id == 1%}
      <div>
        <label for="">Title</label>
        <input type='text' id='createPostTitle' name='createPostTitle' class="border-2" placeholder="Title" value="{{post.title}}" required>
      </div>

      <div>
        <label for=""> Post Tags</label>
        <input type="text" id="autosearch_tags" required class="border-2 bg-white">
      </div>
      {%endif%}

      <div class="flex w-[90vw] sm:flex-row flex-col m-auto">
        <textarea type='text' id="markdown" onkeyup="markdownToHtml()"  placeholder="write you answer in markdown"
          rows="5" cols="40" class="w-full sm:w-1/2 m-1"></textarea>
        <div id="markup" class="w-full sm:w-1/2 bg-white m-1 min-h-[5rem]">{{post.body|safe}}</div>
      </div>

      <input type='submit' value="Submit" class="hover:cursor-pointer p-1 bg-slate-400 rounded w-fit">

    </div>
  </form>
  <script>
    const markup = document.getElementById('markup');
    const markdown = document.getElementById('markdown');
    const createPostBody = document.getElementById('createPostBody');
    const tag = document.getElementById("autosearch_tags");
    var hidden_tag = document.getElementById("autosearch_hidden_tags");    
    
  
    
    const markdown_value="{{ post.body | escapejs }}"
 
    const turndownService = new TurndownService();
    const markdownContent = turndownService.turndown(markdown_value);
    markdown.value=markdownContent
    
    function markdownToHtml() {
      markup.innerHTML = marked.parse(markdown.value)
      createPostBody.value = marked.parse(markdown.value)
    }


    


    const tagify = new Tagify(tag, {
      whitelist: [],
      enforceWhitelist: true,
      maxTags: 5,
      autocomplete: {
        enabled: true,
        minLength: 1,
        maxItems: 10
      },
      callbacks: {
        add: function (e) {

          var tags = tagify.value.map(tag => tag.value).join('><');
          hidden_tag.value = '<' + tags + '>';
          console.log(hidden_tag.value)


        },
        remove: function (e) {
          console.log("Tag removed :", e.detail.data.value);
          var tags = tagify.value.map(tag => tag.value).join(' ');
          hidden_tag.value = tags;

        }


      }


    });

    if ({{ post.post_type_id }} == 1) {
        previous_tags = '{{post.tags|safe}}'
        previous_tags = previous_tags.slice(1, -1);
        previous_tags_list = previous_tags.replace('><', ', ');
        tag.value = previous_tags_list
        console.log(typeof previous_tags_list)
        console.log("fdfdkf")
      }

    var data = {% autoescape on %}
    {{ avail_tags | safe }}
    {% endautoescape %}
    tagify.settings.whitelist = data;


  </script>
</body>

</html>