<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  <title>Home</title>
</head>
<body class="bg-slate-400">
  <div class="bg-red">

  </div>
  <a href="signin">Signin</a>
  <a href="signup">Signup</a>

  {% if not id%}
    <div class="text-3xl">hello Guest</div>
    {%else%}
    <div class="text-3xl inline">hello {{display_name}}</div>
      {%endif%}

  {% if not user%}
    Hello Guest
    {%else%}
    hello {{user_id}} bro<br>
    <a href='editProfile'>Edit Profile</a>
    <br>
  
    {%endif%}

  <form action="/search" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="search" required name="searchValue">
    <select name="searchBy" id="searchBy" required>
      <option value="userId">User ID</option>
      <option value="tags">Tags</option>
    </select>
    <input type="submit" value="Submit" class="hover:cursor-pointer">
  </form>

  {%for i in topPosts%}
  <div class="text-xl bg-slate-500 p-5">{{ i.body }}</div>
  <br>
  <br>
  {%endfor%}

</div>
<div>
  
</div>

</body>
</html>