<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {{ques.0.body}}
        <form action="/AnsweredPost" method="POST">
            id=models.IntegerField(("id"),primary_key=True)
            # generate id
            owner_user_id=models.IntegerField(("owner_user_id"), null=True)
            <p>owner_user_id:{{owner_user_id}}</p>
            <p>last_editor_user_id:NULL</p>
            <p>post_type_id:2</p>
            <p>accepted_answer_id:NULL</p>
            <p>score:NULL</p>
            <p>parent_id:{{ques.0.id}}</p>
            <p>view_count:0</p>
            <p>answer_count:0</p>
            <p>comment_count:0</p>
            <p> owner_display_name:{{owner_display_name}}</p>
            <p>last_editor_display_name:NULL</p>
            <input type='text' id='createPostTitle' name='createPostTitle'>title</input>
            <input type='text' id='createPostTags' name='createPostTags'>tags</input>
            <p>content_license:</p>
            <input type='text' id='createPostBody' name='createPostBody'>BODY</input>
            <p>favorite_count=models.IntegerField(("favorite_count"),null=True)</p>
            <p>creation_date=models.DateTimeField(("creation_date"),auto_now_add=True,null=False)</p>
            <p>community_owned_date=models.DateTimeField(("community_owned_date"),auto_now_add=True, null=True)</p>
            <p>closed_date=models.DateTimeField(("closed_date"),auto_now_add=True, null=True)</p>
            <p>last_edit_date=models.DateTimeField(("last_edit_date"),auto_now_add=True, null=True)</p>
            <p>last_activity_date=models.DateTimeField(("last_activity_date"),auto_now_add=True)</p>
            <input type='submit'>Create post</input>
            </form>
        

        <script src="" async defer></script>
    </body>
</html>