<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body class="bg-slate-300">
        {% include "./components/navbar.html" %}
        {% include "./components/messages.html" %}

        
        <form action="/AnsweredPost" method="POST" class="m-auto w-fit mt-5">
            <div class="flex w-[90vw] sm:flex-row flex-col m-auto">
                <textarea type='text' id="markdown" onkeyup="markdownToHtml()" placeholder="write you answer in markdown" rows="5"
                    cols="40" class="w-full sm:w-1/2 m-1"></textarea>
                <div id="markup" class="w-full sm:w-1/2 bg-white m-1 min-h-[5rem]"></div>
            </div>
            
            <input type='hidden' id='postAnswerBody' name='postAnswerBody'>
            <input type="hidden" value="{{user.id}}" name="postAnswerUserId">
            <input type="hidden" value="{{user.display_name}}" name="postAnswerUserName">
            <input type="hidden" value={{quesId}} name="postAnswerQuesId">
            <input type='submit' value="Submit" class="hover:cursor-pointer p-1 bg-slate-400 rounded">
            </form>
        

        <script>
            markup = document.getElementById('markup')
            markdown = document.getElementById('markdown')
            createPostBody = document.getElementById('postAnswerBody')
            function markdownToHtml() {
                markup.innerHTML = marked.parse(markdown.value)
                createPostBody.value = marked.parse(markdown.value)
            }

        </script>
    </body>
</html>