<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>

  <title>Document</title>
</head>
<body class="bg-slate-300">
  
  <div class="my-10 mx-auto text-center text-5xl">Search result for {{searchValue}}</div>

  {%for i in relatedPostsList%}
  <!-- <script>
    alert(extractContent("<p>Hello</p><a href='http://w3c.org'>W3C</a>"));

  </script> -->
    <div class="text-lg bg-slate-400 p-2 m-3 rounded-lg">
      <div class="text-4xl mb-5">
        {{i.title|safe}}
      </div>
    {{i.body|safe}}:{{i.owner_display_name}}
    <form action="/eachpost" method="POST">
      <input type="hidden" value={{i.id}} name="id">
      <input type="submit" value="See more" class="bg-slate-500 p-1 mt-2 rounded hover:cursor-pointer">
    </form>
    </div>

  {%endfor%}
</body>

<script>

  function extractContent(s) {
      var span = document.createElement('span');
      span.innerHTML = s;
      return span.textContent || span.innerText;
    };
    // alert(extractContent("<p>Hello</p><a href='http://w3c.org'>W3C</a>"));
</script>

</html>